<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal" routerLink="/">Generic Froms</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/first">First try</a>
    <a class="p-2 text-dark" routerLink="/login">Login</a>
    <a class="p-2 text-dark" routerLink="/register">Register</a>
    <a class="p-2 text-dark" routerLink="/reusable-forms-value-accessor">Reusable forms - ControlValueAccessor</a>
    <a class="p-2 text-dark" routerLink="/reusable-forms">Reusable forms - Subforms</a>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
