.form-label-group{
    position: relative;

    .v{
        position: absolute;
        top: 7px;
        right: 10px;
    }

    label{
        padding-right: 137px;
    }

    .error{
        color: red;
    }

}