<div class="form-label-group">
  <input type="password" #password class="form-control"
  (input)="onChange($event.target.value)"
  (blur)="onTouched()"
  [disabled]="disabled">

  <div class="d-flex">
      <span class="v" *ngIf="controlDir && controlDir.control.valid && controlDir.control.touched">
        <img src="./assets/images/v.svg">
      </span>
  
      <label class="mr-auto">Password*
      </label>
  
      <span class="error" *ngIf="controlDir && !controlDir.control.valid
       && controlDir.control.touched && controlDir.control.hasError('required')">
        Please enter a valid password
      </span>
  </div>
</div>



